* {
    color: brown;
}

h1 {
    color: blue;
}

li {
    color: violet;
}

i {
    color: red;
}

div p {
    color: black;
    margin-top: 0;
}

.flex-container {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
  }